<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="" th:href="@{/css/student_Login.css}"/>

</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<form>
<div class="login">
    <div class="login-header">
        <h1>Student Login</h1>
    </div>

    <div class="login-form">
        <h3>Username:</h3>
        <input type="text" placeholder="Username"/><br>

        <h3>Password:</h3>
        <input type="password" placeholder="Password"/>
        <br>


        <button class="login_button">
            <a class="link_value" th:href="@{StudentDownload}">Login</a>
        </button>


        <h6 class="no-access">You Don't have account?</h6>
        <br>

        <a class="sign-up" th:href="@{studentReg}">Register Here!</a>

    </div>
</div>
</form>
</body>
</html>